@model IEnumerable<SchoolProject.Models.Teacher>
@{
    ViewBag.Title = "Lists";
}

<div id="containerlist">
    <h2>List of Teachers</h2>

    <div class="form-container mb-3">
        <form action="/teacher/lists" method="GET" class="d-flex align-items-center gap-3">
            <label for="searchType">Search By: </label>
            <select name="searchType" id="searchType">
                <option value="name">Name</option>
                <option value="hiredate">Hire Date</option>
                <option value="empnum">Employee Number</option>
            </select>
            <input type="text" name="SearchKey" value="" />

            <button>Search</button>
        </form>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Employee Number</th>
                <th>Hire Date</th>
                <th>Salary</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var teacher in Model)
                {
                    <tr>
                        <td>@teacher.teacherId</td>
                        <td>@teacher.teacherFname</td>
                        <td>@teacher.teacherLname</td>
                        <td>@teacher.employeeNumber</td>
                        <td>@teacher.hireDate</td>
                        <td>@teacher.teacherSalary</td>
                        <td><a href="/teacher/show/@teacher.teacherId">View</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center">No records found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
