@model SchoolProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div class="d-flex justify-content-between align-items-center my-4">
    <h2>@Model.teacherFname @Model.teacherLname</h2>
    <a href="/teacher/lists">Back to Teacher Lists</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Class Code</th>
            <th scope="col">Class Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">Finish Date</th>
        </tr>
    </thead>
    <tbody>  
            @foreach (var cls in Model.ClassesTaught)
            {
                <tr>
                    <td>@cls.classcode.ToUpper()</td>
                    <td>@cls.classname</td>
                    <td>@cls.startdate</td>
                    <td>@cls.finishdate</td>
                </tr>
            }
       
    </tbody>
</table>
