@model SchoolProject.Models.Teacher
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

 <div class="container w-50 mx-auto my-5">
    <a href="/teacher/lists"><i class="fa-solid fa-arrow-left"></i> Teacher List</a>

    <form action="/Teacher/Edit/@Model.teacherId" method="POST" class="mt-2">
        <div class="mb-3 row d-flex justify-content-center">
           <label for="teacherfname" class="form-label">First Name</label>
           <input type="text" class="form-control" id="teacherfname" name="teacherfname" value="@Model.teacherFname" required>
       </div>
       <div class="mb-3 row d-flex justify-content-center">
           <label for="teacherlname" class="form-label">Last Name</label>
           <input type="text" class="form-control" id="teacherlname" name="teacherlname" value="@Model.teacherLname" required>
       </div>

       <div class="mb-3 row d-flex justify-content-center">
           <label for="employeeNumber" class="form-label">Employee Number</label>
           <input type="text" class="form-control" id="employeeNumber" name="employeenumber" value="@Model.employeeNumber" required>
       </div>

       <div class="mb-3 row d-flex justify-content-center">
           <label for="hiredate" class="form-label">Hire Date</label>
           <input type="date" class="form-control" id="hiredate" name="hiredate" value="@Model.hireDate.ToString("yyyy-MM-dd")">
       </div>

       <div class="mb-3 row d-flex justify-content-center">
           <label for="salary" class="form-label">Salary $</label>
           <input type="number" class="form-control" id="salary" name="salary" value="@Model.teacherSalary">
       </div>

       <div class="mb-3 row d-flex justify-content-center">
           <button type="submit" class="btn btn-primary">Update Teacher</button>
       </div>


    </form>
</div>